.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  min-width: 100%;
  min-height: 100%;
}

.smartsImage{
  height: 70%;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  padding: 16px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.molRender{
  /* flex: 1; */
  /* aspect-ratio: 1 / 1; */
  /* height: 100%-16px; */
  /* width: 100%-16px; */
  display: flex;
  justify-content: center;
  max-height: 100%;
  flex:1
}